<div class="settings__menu">
    <div class="">
        <div class="settings__menu__header">
            <img src="../../assets/img/Гриб.svg" class="settings__menu__header-label">
            <div>Настройки</div>  
        </div>
        <div class="settings__menu__display">
            <div class="settings__menu__display__block">
                <div class="settings__menu__display__block-name">
                    <div class="settings__menu__display__block-text">
                        <div>Имя: {{this.user.Name}}</div>
                    </div>
                    <input [(ngModel)]="name" type="text" name="name" placeholder="Сменить имя" autocomplete="new-name"  >
                </div>
                <div class="settings__menu__display__block-email">
                    <div class="settings__menu__display__block-text">
                        <div>Email: {{this.user.Email}}</div>
                    </div>
                    <input [(ngModel)]="email" type="text" name="Email" placeholder="Сменить Email" autocomplete="new-email"  >
                </div>
                <div class="settings__menu__display__block-pass">
                    <div class="settings__menu__display__block-text">
                        <div>Пароль: {{this.user.Password}}</div>
                    </div>
                    <input [(ngModel)]="password" type="password" name="password" placeholder="Сменить пароль" autocomplete="new-password"  >
                    <input [(ngModel)]="password" type="password" name="password" placeholder="Повторить пароль" autocomplete="new-password"  >
                </div>
            </div>
            <div class="settings__menu__display__batton">
                <img src="../../../assets/img/Support.svg" >
                <img src="../../../assets/img/output.svg" (click)="output()" routerLink="/">
            </div>
        </div>
    </div>
    <app-navigation></app-navigation>
</div> 