<div class="navigation">
    <img src="../../assets/img/navigation__main.svg" routerLink="/main"  class="navigation__main">
    <img src="../../assets/img/navigation__history.svg" routerLink="/history" class="navigation__history">
    <img src="../../assets/img/navigation__personal-area.svg" routerLink="/personalArea" class="navigation__personal-area">
    <img src="../../assets/img/navigation__friends.svg" routerLink="/friends" class="navigation__friends">
    <img src="../../assets/img/navigation__settings.svg" routerLink="/settings" class="navigation__settings">
</div>
