<div>
    <div class="registration__header" >
        <img src="../../assets/img/Ellipse.svg" class="ellips">Регистрация
    </div>
    <div class="registration__form">
        <input type="text" name="Name" placeholder="Имя">
        <input type="text" name="Email" placeholder="Email">
        <input type="tsext" name="Password" placeholder="Пароль">
    </div>
    <div class="registration__chek"><label><input type="checkbox" value="consent"> Я согласен на обработку персональных данных</label></div>
    <div class="button" routerLink="/confirm">
        <div class="button-text">Далее</div>
    </div>
    <div class="button" routerLink="/auth">
        <div class="button-text">Назад</div>
    </div>  
</div>   