.registration__header{
    display: flex;
    justify-content:center;
    margin-top: 10px;
    font-size: 24px;
}
.registration__form{
    display: flex;
    flex-direction:column;
    margin: 20px;
    margin-top: 45px;
}
.registration__form input{
    margin-top: 30px;
    width: 320px;
    height: 38px;
    font-size: 24px;
    text-align: center;
    border-radius: 2px;
    background-color:#C4C4C4;
}
.registration__chek{
    margin-top: 80px;
    font-size: 18px;
    color:#C4C4C4;
    text-align: center;
}
.errno{
    position: absolute;
    color:#7a7a7a;
    top: 370px;
    left: 41px;
    font-size: 18px;
}